blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{
    margin:0;
    padding:0
}
table{
    border-collapse:collapse;
    border-spacing:0
}
fieldset,img{
    border:0
}
address,caption,cite,code,dfn,th,var{
    font-style:normal;
    font-weight:400
}
li{
    list-style:none
}
caption,th{
    text-align:left
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:400
}
q:after,q:before{
    content:''
}
abbr,acronym{
    border:0;
    font-variant:normal
}
sup{
    vertical-align:text-top
}
sub{
    vertical-align:text-bottom
}
input,select,textarea{
    font-size:inherit;
    font-weight:inherit
}
legend{
    color:#000
}
a{
    cursor:pointer
}
b,strong{
    font-weight:400
}
em,i{
    font-style:normal
}
html{
    font-size:12px
}
body{
    background:#fff
}
body,html{
    height:100%
}
pre{
    text-transform:none;
    text-align:left;
    font-family:monospace
}
a{
    color:#333;
    text-decoration:none
}
a.blue{
    color:#4490A5
}
a.blue:hover,a:hover{
    text-decoration:underline
}
*,:after,:before{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.fleft{
    float:left
}
.fright{
    float:right
}
.hide{
    display:none
}
.clear{
    clear:both
}
.inline{
    display:inline
}
.green{
    color:#0bc6a0
}
.red{
    color:#ee5f73
}
.gray{
    color:gray
}
.lgray{
    color:#b5b5b5
}
.dgray{
    color:#333
}
.rupees{
    text-transform:none;
    color:#ee5f73
}
.free,.rupees.deduction{
    color:#39b54a
}
.msg{
    margin:10px 0
}
.err,.error{
    font-size:12px;
    color:#ee5f73
}
.success{
    font-size:12px;
    color:#0bc6a0
}
.spl-text{
    color:#282c3f
}
.normal{
    font-family:Tahoma,Arial,Sans-Serif;
    text-transform:none;
    color:#333
}
.info{
    color:gray
}
footer,header{
    max-width:980px;
    margin:0 auto;
    text-align:center
}
.mcontainer{
    width:auto;
    margin:0 auto;
    overflow:auto
}
.DIN-font{
    font-family:DIN,Helvetica,Arial,sans-serif;
    font-size:13px;
    color:#697071;
    background-color:#fff
}
.din-med{
    font-family:din-med,Helvetica,Arial,sans-serif
}
button,input,select,textarea{
    font-family:inherit
}
.cf:after,.cf:before,.mk-cf:after,.mk-cf:before{
    content:" ";
    display:table
}
.cf:after,.mk-cf:after{
    clear:both
}
.grid{
    max-width:980px;
    margin:0 auto;
    zoom:1;
    text-align:left;
    color:#596062
}
.grid:after,.grid:before{
    content:"";
    display:table
}
.grid:after{
    clear:both
}
.grid .content{
    width:655px;
    float:left
}
.grid .summary{
    width:320px;
    float:left
}
.grid .summary-hd{
    background:#e6e6e6;
    background-image:-webkit-linear-gradient(top,#f2f2f2,#d6d6d6);
    background-image:-moz-linear-gradient(top,#f2f2f2,#d6d6d6);
    background-image:-ms-linear-gradient(top,#f2f2f2,#d6d6d6);
    background-image:-o-linear-gradient(top,#f2f2f2,#d6d6d6);
    height:14px;
    width:300px;
    padding:21px 10px;
    font-size:14px;
    cursor:pointer
}
.grid .summary-hd:hover{
    background:#e6e6e6;
    background-image:-webkit-linear-gradient(top,#d6d6d6,#f2f2f2);
    background-image:-moz-linear-gradient(top,#d6d6d6,#f2f2f2);
    background-image:-ms-linear-gradient(top,#d6d6d6,#f2f2f2);
    background-image:-o-linear-gradient(top,#d6d6d6,#f2f2f2)
}
.grid .summary-bd{
    padding:10px
}
.grid .content-hd,.grid .content-sub-hd{
    border-bottom:1px solid #d6d6d6;
    padding:16px 0;
    margin-right:10px;
    font-size:20px
}
.btn{
    display:inline-block;
    font:14px/26px din-med,arial,sans-serif;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    cursor:pointer;
    padding:5px;
    border:none;
    margin-left:auto;
    margin-right:auto
}
.btn[disabled],.disabled-btn{
    cursor:auto;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none
}
.btn[disabled] *,.disabled-btn *{
    pointer-events:none
}
.btn:focus{
    outline:0
}
.mk-custom-drop-down .jqTransformSelectWrapper span,.normal-btn{
    color:#333;
    background-color:#b3b3b3;
    background-image:-webkit-linear-gradient(top,#e6e6e6,#b3b3b3);
    background-image:-moz-linear-gradient(top,#e6e6e6,#b3b3b3);
    background-image:-ms-linear-gradient(top,#e6e6e6,#b3b3b3);
    background-image:-o-linear-gradient(top,#e6e6e6,#b3b3b3)
}
.mk-custom-drop-down .jqTransformSelectWrapper span.focus,.mk-custom-drop-down .jqTransformSelectWrapper span:hover,.normal-btn:focus,.normal-btn:hover{
    background-color:#e6e6e6;
    background-image:-webkit-linear-gradient(top,#b3b3b3,#e6e6e6);
    background-image:-moz-linear-gradient(top,#b3b3b3,#e6e6e6);
    background-image:-ms-linear-gradient(top,#b3b3b3,#e6e6e6);
    background-image:-o-linear-gradient(top,#b3b3b3,#e6e6e6)
}
.normal-btn.disabled-btn,.normal-btn[disabled]{
    color:gray
}
.normal-btn.disabled-btn:hover,.normal-btn[disabled]:hover{
    background-color:#b3b3b3;
    background-image:-webkit-linear-gradient(top,#e6e6e6,#b3b3b3);
    background-image:-moz-linear-gradient(top,#e6e6e6,#b3b3b3);
    background-image:-ms-linear-gradient(top,#e6e6e6,#b3b3b3);
    background-image:-o-linear-gradient(top,#e6e6e6,#b3b3b3)
}
.pdp-shop-by-btn{
    color:#fff;
    text-shadow:1px 1px #000;
    background-color:#000;
    background-image:-webkit-linear-gradient(top,#333,#000);
    background-image:-moz-linear-gradient(top,#333,#000);
    background-image:-ms-linear-gradient(top,#333,#000);
    background-image:-o-linear-gradient(top,#333,#000)
}
.pdp-shop-by-btn:focus,.pdp-shop-by-btn:hover{
    background-color:#333;
    background-image:-webkit-linear-gradient(top,#000,#333);
    background-image:-moz-linear-gradient(top,#000,#333);
    background-image:-ms-linear-gradient(top,#000,#333);
    background-image:-o-linear-gradient(top,#000,#333)
}
.size-btn{
    color:#333;
    background-color:#b3b3b3;
    background-image:-webkit-linear-gradient(top,#e6e6e6,#b3b3b3);
    background-image:-moz-linear-gradient(top,#e6e6e6,#b3b3b3);
    background-image:-ms-linear-gradient(top,#e6e6e6,#b3b3b3);
    background-image:-o-linear-gradient(top,#e6e6e6,#b3b3b3)
}
.size-btn:focus,.size-btn:hover{
    background-color:#e6e6e6;
    background-image:-webkit-linear-gradient(top,#b3b3b3,#e6e6e6);
    background-image:-moz-linear-gradient(top,#b3b3b3,#e6e6e6);
    background-image:-ms-linear-gradient(top,#b3b3b3,#e6e6e6);
    background-image:-o-linear-gradient(top,#b3b3b3,#e6e6e6)
}
.size-btn.selected{
    color:#fff;
    background-color:#000;
    background-image:-webkit-linear-gradient(top,#333,#000);
    background-image:-moz-linear-gradient(top,#333,#000);
    background-image:-ms-linear-gradient(top,#333,#000);
    background-image:-o-linear-gradient(top,#333,#000)
}
.size-btn.selected:hover .size-btn.selected:focus{
    background-color:#333;
    background-image:-webkit-linear-gradient(top,#000,#333);
    background-image:-moz-linear-gradient(top,#000,#333);
    background-image:-ms-linear-gradient(top,#000,#333);
    background-image:-o-linear-gradient(top,#000,#333)
}
.size-btn.unavailable{
    color:gray;
    position:relative
}
.size-btn.unavailable .strike{
    height:1px;
    width:100%;
    display:block;
    background:gray;
    position:absolute;
    left:0;
    top:50%
}
.primary-btn{
    color:#fff;
    background-color:#f27521;
    background-image:-webkit-linear-gradient(top,#f2a54d,#f27521);
    background-image:-moz-linear-gradient(top,#f2a54d,#f27521);
    background-image:-ms-linear-gradient(top,#f2a54d,#f27521);
    background-image:-o-linear-gradient(top,#f2a54d,#f27521)
}
.primary-btn:focus,.primary-btn:hover{
    background-color:#f2a54d;
    background-image:-webkit-linear-gradient(top,#f27521,#f2a54d);
    background-image:-moz-linear-gradient(top,#f27521,#f2a54d);
    background-image:-ms-linear-gradient(top,#f27521,#f2a54d);
    background-image:-o-linear-gradient(top,#f27521,#f2a54d)
}
.primary-btn.disabled-btn,.primary-btn[disabled]{
    color:#d6d6d6
}
.primary-btn.disabled-btn:hover,.primary-btn[disabled]:hover{
    background-color:#f27521;
    background-image:-webkit-linear-gradient(top,#f2a54d,#f27521);
    background-image:-moz-linear-gradient(top,#f2a54d,#f27521);
    background-image:-ms-linear-gradient(top,#f2a54d,#f27521);
    background-image:-o-linear-gradient(top,#f2a54d,#f27521)
}
.confirm-btn{
    color:#fff;
    background-color:#5c9a2d;
    background-image:-webkit-linear-gradient(top,#b0c362,#5c9a2d);
    background-image:-moz-linear-gradient(top,#b0c362,#5c9a2d);
    background-image:-ms-linear-gradient(top,#b0c362,#5c9a2d);
    background-image:-o-linear-gradient(top,#b0c362,#5c9a2d)
}
.confirm-btn:focus,.confirm-btn:hover{
    background-color:#b0c362;
    background-image:-webkit-linear-gradient(top,#5c9a2d,#b0c362);
    background-image:-moz-linear-gradient(top,#5c9a2d,#b0c362);
    background-image:-ms-linear-gradient(top,#5c9a2d,#b0c362);
    background-image:-o-linear-gradient(top,#5c9a2d,#b0c362)
}
.confirm-btn.disabled-btn,.confirm-btn[disabled]{
    color:#54823b
}
.confirm-btn.disabled-btn:hover,.confirm-btn[disabled]:hover{
    background-color:#5c9a2d;
    background-image:-webkit-linear-gradient(top,#b0c362,#5c9a2d);
    background-image:-moz-linear-gradient(top,#b0c362,#5c9a2d);
    background-image:-ms-linear-gradient(top,#b0c362,#5c9a2d);
    background-image:-o-linear-gradient(top,#b0c362,#5c9a2d)
}
.selected-btn{
    color:#fff;
    background-color:#000;
    background-image:-webkit-linear-gradient(top,#666,#000);
    background-image:-moz-linear-gradient(top,#666,#000);
    background-image:-ms-linear-gradient(top,#666,#000);
    background-image:-o-linear-gradient(top,#666,#000)
}
.small-btn{
    font:12px/15px din-med,arial,sans-serif
}
.link-btn{
    color:#000;
    text-decoration:underline;
    background:0 0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    padding:5px 0;
    border:0;
    cursor:pointer;
    font-size:14px;
    font-family:din-med,arial,sans-serif;
    text-transform:uppercase
}
button.mk-checkout{
    display:inline-block;
    color:#fff;
    background:#232323;
    font:14px din-med;
    text-transform:uppercase;
    padding:5px 12px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.checkout .primary-btn{
    position:relative
}
.checkout .primary-btn .proceed-icon{
    background:url(/checkout/images/sprite-global_v70.png) -135px -114px;
    width:18px;
    height:18px;
    float:right;
    right:8px;
    top:9px;
    position:absolute
}
.secure .primary-btn .proceed-icon{
    background-image:url(/checkout/images/sprite-global_v70.png)
}
label{
    display:block;
    text-align:left;
    color:#333
}
input[type=email],input[type=password],input[type=text],select,textarea{
    -moz-box-shadow:0 1px 2px #999 inset;
    -webkit-box-shadow:0 1px 2px #999 inset;
    box-shadow:0 1px 2px #999 inset;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    border:1px solid #d6d6d6;
    color:#333;
    text-transform:none
}
input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,select:focus,textarea:focus{
    border:1px solid #999;
    outline:0
}
input[type=email][disabled],input[type=password][disabled],input[type=text][disabled],select[disabled]{
    background:#e6e6e6;
    color:#666
}
input[type=password]{
    letter-spacing:1px
}
.opt{
    background-image:url(/checkout/images/sprite-global_v70.png);
    background-repeat:no-repeat
}
.opt input{
    display:none
}
.opt{
    width:16px;
    height:16px;
    background-position:-63px -185px
}
.opt.selected{
    background-position:-63px -205px
}
.opt.disabled{
    background-position:-63px -225px
}
.icon{
    display:inline-block;
    vertical-align:middle;
    margin-right:5px
}
.icon-success-large{
    background:url(/checkout/images/sprite-global_v70.png) 0 -401px no-repeat;
    width:24px;
    height:24px
}
.icon-success{
    background:url(/checkout/images/sprite-global_v70.png) -95px -406px no-repeat;
    width:16px;
    height:16px
}
.icon-alert-large{
    background:url(/checkout/images/sprite-global_v70.png) -28px -401px no-repeat;
    width:24px;
    height:24px
}
.icon-alert{
    background:url(/checkout/images/sprite-global_v70.png) -116px -406px no-repeat;
    width:16px;
    height:16px
}
.icon-error-large{
    background:url(/checkout/images/sprite-global_v70.png) -56px -401px no-repeat;
    width:24px;
    height:24px
}
.icon-error{
    background:url(/checkout/images/sprite-global_v70.png) -137px -406px no-repeat;
    width:16px;
    height:16px
}
.icon-info-large{
    background:url(/checkout/images/sprite-global_v70.png) -163px -401px no-repeat;
    width:24px;
    height:24px
}
.icon-info{
    background:url(/checkout/images/sprite-global_v70.png) -193px -406px no-repeat;
    width:16px;
    height:16px
}
.icon-new-large{
    background:url(/checkout/images/sprite-global_v70.png) -104px -111px no-repeat;
    width:24px;
    height:12px
}
.icon-new{
    background:url(/checkout/images/sprite-global_v70.png) -108px -95px no-repeat;
    width:20px;
    height:10px
}
.icon-prev{
    background:url(/checkout/images/sprite-global_v70.png) -167px -143px no-repeat;
    width:12px;
    height:42px
}
.icon-prev:hover{
    background-position-y:-228px
}
.icon-next{
    background:url(/checkout/images/sprite-global_v70.png) -167px -185px no-repeat;
    width:12px;
    height:42px
}
.icon-next:hover{
    background-position-y:-270px
}
.icon-phone{
    background:url(/checkout/images/sprite-global_v70.png) -634px 1px no-repeat;
    width:25px;
    height:17px;
    display:block
}
.icon-collapse-large{
    background:url(/checkout/images/sprite-global_v70.png) 0 -378px no-repeat;
    width:16px;
    height:16px
}
.icon-expand-large{
    background:url(/checkout/images/sprite-global_v70.png) -17px -378px no-repeat;
    width:16px;
    height:16px
}
.icon-arrow-right{
    background:url(/checkout/images/sprite-global_v70.png) -105px 0 no-repeat;
    width:6px;
    height:10px
}
.secure .icon-alert,.secure .icon-alert-large,.secure .icon-arrow-right,.secure .icon-collapse-large,.secure .icon-error,.secure .icon-error-large,.secure .icon-expand-large,.secure .icon-info,.secure .icon-info-large,.secure .icon-new,.secure .icon-new-large,.secure .icon-next,.secure .icon-phone,.secure .icon-prev,.secure .icon-success,.secure .icon-success-large{
    background-image:url(/checkout/images/sprite-global_v70.png)
}
.icon-lock{
    background-position:-150px -8px;
    width:11px;
    height:15px
}
.icon-payment-options{
    background-position:0 -432px;
    width:465px;
    height:40px
}
.icon-lock,.icon-payment-options{
    background-image:url(/checkout/images/sprite-global_v70.png);
    background-repeat:no-repeat;
    display:inline-block
}
.secure .icon-lock,.secure .icon-payment-options{
    background-image:url(/checkout/images/sprite-global_v70.png)
}
span.complete-icon{
    width:17px;
    height:17px;
    background-image:url(/checkout/images/sprite-global_v70.png);
    background-position:-95px -406px;
    display:inline-block
}
.secure span.complete-icon{
    background-image:url(/checkout/images/sprite-global_v70.png)
}
span.incomplete-icon{
    width:17px;
    height:17px;
    background-image:url(/checkout/images/sprite-global_v70.png);
    background-position:-137px -406px;
    display:inline-block
}
.secure span.incomplete-icon{
    background-image:url(/checkout/images/sprite-global_v70.png)
}
span.info-icon{
    width:16px;
    height:16px;
    background-image:url(/checkout/images/sprite-global_v70.png);
    background-position:-116px -406px;
    display:inline-block
}
.secure span.info-icon{
    background-image:url(/checkout/images/sprite-global_v70.png)
}
.wishlist-icon{
    background-image:url(/checkout/images/sprite-global_v70.png);
    background-repeat:no-repeat;
    background-position:-508px -405px;
    width:18px;
    height:16px;
    display:inline-block;
    padding:2px;
    margin:0 5px;
    line-height:20px
}
.myntra-tooltip{
    padding:10px;
    border:3px solid #d6d6d6;
    background-color:#fff;
    color:#000;
    position:absolute;
    top:-500px;
    left:0;
    width:220px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    -moz-box-shadow:0 1px 3px #666;
    -webkit-box-shadow:0 1px 3px #666;
    box-shadow:0 1px 3px #666;
    font-size:12px;
    text-align:center;
    z-index:1006
}
.myntra-tooltip .arrow{
    border-style:solid;
    position:absolute;
    width:0;
    height:0
}
.myntra-tooltip .arrow-top-outer{
    border-color:transparent transparent #d6d6d6;
    border-width:0 12px 12px;
    left:50%;
    top:-15px
}
.myntra-tooltip .arrow-top-inner{
    border-color:transparent transparent #fff;
    border-width:0 9px 9px;
    left:50%;
    top:-9px
}
.myntra-tooltip .arrow-bottom-outer{
    border-color:#d6d6d6 transparent transparent;
    border-width:12px 12px 0;
    left:50%;
    bottom:-15px
}
.myntra-tooltip .arrow-bottom-inner{
    border-color:#fff transparent transparent;
    border-width:9px 9px 0;
    left:50%;
    bottom:-9px
}
.myntra-tooltip .arrow-left-outer{
    border-color:transparent #d6d6d6 transparent transparent;
    border-width:12px 12px 12px 0;
    top:25px;
    left:-15px
}
.myntra-tooltip .arrow-left-inner{
    border-color:transparent #fff transparent transparent;
    border-width:9px 9px 9px 0;
    top:25px;
    left:-9px
}
.myntra-tooltip .arrow-right-outer{
    border-color:transparent transparent transparent #d6d6d6;
    border-width:12px 0 12px 12px;
    top:25px;
    right:-15px
}
.myntra-tooltip .arrow-right-inner{
    border-color:transparent transparent transparent #fff;
    border-width:9px 0 9px 9px;
    top:25px;
    right:-9px
}
.feature-tooltip{
    background-color:#333;
    border-color:#333;
    -moz-box-shadow:1px 1px 6px #333;
    -webkit-box-shadow:1px 1px 6px #333;
    box-shadow:1px 1px 6px #333;
    padding:5px;
    max-width:170px
}
.feature-tooltip .hd{
    font-size:14px;
    line-height:25px;
    padding-bottom:5px;
    color:#fff
}
.feature-tooltip .bd{
    font:12px/18px arial,sans-serif;
    text-transform:none;
    color:#d6d6d6
}
.feature-tooltip .arrow-top-inner,.feature-tooltip .arrow-top-outer{
    border-color:transparent transparent #333
}
.feature-tooltip .arrow-bottom-inner,.feature-tooltip .arrow-bottom-outer{
    border-color:#333 transparent transparent
}
.feature-tooltip .arrow-left-inner,.feature-tooltip .arrow-left-outer{
    border-color:transparent #333 transparent transparent
}
.feature-tooltip .arrow-right-inner,.feature-tooltip .arrow-right-outer{
    border-color:transparent transparent transparent #333
}
.feature-tooltip .close{
    height:10px;
    width:10px;
    position:absolute;
    left:165px;
    top:3px;
    background:url(/checkout/images/sprite-global_v70.png) 0 -256px no-repeat;
    cursor:pointer
}
.secure .feature-tooltip .close{
    background:url(/checkout/images/sprite-global_v70.png) 0 -256px no-repeat
}
.tooltip{
    display:inline;
    position:relative
}
.tooltip:hover{
    color:#c00;
    text-decoration:none
}
.tooltip:hover:after{
    content:attr(data-tooltip);
    display:block;
    position:absolute;
    white-space:nowrap;
    z-index:98;
    border:1px solid #d6d6d6;
    height:100%;
    top:-120%;
    left:-50%;
    background:#f5f5f5;
    color:#555;
    padding:4px;
    font-size:10px
}
.down.tooltip:hover:after{
    white-space:normal;
    width:150px;
    height:auto;
    top:auto
}
.tooltip:hover:before{
    content:"";
    display:block;
    left:37%;
    position:absolute;
    z-index:99;
    top:-20%;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid #d6d6d6
}
.down.tooltip:hover:before{
    top:70%;
    border-width:0 .4em .4em;
    border-bottom:4px solid #d6d6d6;
    border-top:none
}
@media screen and (max-device-width :768px){
    .tooltip:hover:after,.tooltip:hover:before{
        display:none
    }
}
/*! Hint.css - v1.3.2 - 2014-05-18 * http://kushagragour.in/lab/hint/ * Copyright (c) 2014 Kushagra Gour;
 Licensed MIT */
.hint,[data-hint]{
    position:relative;
    display:inline-block
}
.hint:after,.hint:before,[data-hint]:after,[data-hint]:before{
    position:absolute;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    visibility:hidden;
    opacity:0;
    z-index:1000000;
    pointer-events:none;
    -webkit-transition:.3s ease;
    -moz-transition:.3s ease;
    transition:.3s ease;
    -webkit-transition-delay:0ms;
    -moz-transition-delay:0ms;
    transition-delay:0ms
}
.hint:focus:after,.hint:focus:before,.hint:hover:after,.hint:hover:before,[data-hint]:focus:after,[data-hint]:focus:before,[data-hint]:hover:after,[data-hint]:hover:before{
    visibility:visible;
    opacity:1
}
.hint:hover:after,.hint:hover:before,[data-hint]:hover:after,[data-hint]:hover:before{
    -webkit-transition-delay:100ms;
    -moz-transition-delay:100ms;
    transition-delay:100ms
}
.hint:before,[data-hint]:before{
    content:'';
    position:absolute;
    background:0 0;
    border:6px solid transparent;
    z-index:1000001
}
.hint:after,[data-hint]:after{
    content:attr(data-hint);
    background:#383838;
    color:#fff;
    text-shadow:0 -1px 0 #000;
    padding:8px 10px;
    font-size:12px;
    line-height:12px;
    white-space:nowrap;
    box-shadow:4px 4px 8px rgba(0,0,0,.3)
}
.hint--top:before{
    border-top-color:#383838
}
.hint--bottom:before{
    border-bottom-color:#383838
}
.hint--left:before{
    border-left-color:#383838
}
.hint--right:before{
    border-right-color:#383838
}
.hint--top:before{
    margin-bottom:-12px
}
.hint--top:after{
    margin-left:-18px
}
.hint--top:after,.hint--top:before{
    bottom:100%;
    left:50%
}
.hint--top:focus:after,.hint--top:focus:before,.hint--top:hover:after,.hint--top:hover:before{
    -webkit-transform:translateY(-8px);
    -moz-transform:translateY(-8px);
    transform:translateY(-8px)
}
.hint--bottom:before{
    margin-top:-12px
}
.hint--bottom:after{
    margin-left:-18px
}
.hint--bottom:after,.hint--bottom:before{
    top:100%;
    left:50%
}
.hint--bottom:focus:after,.hint--bottom:focus:before,.hint--bottom:hover:after,.hint--bottom:hover:before{
    -webkit-transform:translateY(8px);
    -moz-transform:translateY(8px);
    transform:translateY(8px)
}
.hint--right:before{
    margin-left:-12px;
    margin-bottom:-6px
}
.hint--right:after{
    margin-bottom:-14px
}
.hint--right:after,.hint--right:before{
    left:100%;
    bottom:50%
}
.hint--right:focus:after,.hint--right:focus:before,.hint--right:hover:after,.hint--right:hover:before{
    -webkit-transform:translateX(8px);
    -moz-transform:translateX(8px);
    transform:translateX(8px)
}
.hint--left:before{
    margin-right:-12px;
    margin-bottom:-6px
}
.hint--left:after{
    margin-bottom:-14px
}
.hint--left:after,.hint--left:before{
    right:100%;
    bottom:50%
}
.hint--left:focus:after,.hint--left:focus:before,.hint--left:hover:after,.hint--left:hover:before{
    -webkit-transform:translateX(-8px);
    -moz-transform:translateX(-8px);
    transform:translateX(-8px)
}
.hint--error:after{
    background-color:#b34e4d;
    text-shadow:0 -1px 0 #592726
}
.hint--error.hint--top:before{
    border-top-color:#b34e4d
}
.hint--error.hint--bottom:before{
    border-bottom-color:#b34e4d
}
.hint--error.hint--left:before{
    border-left-color:#b34e4d
}
.hint--error.hint--right:before{
    border-right-color:#b34e4d
}
.hint--warning:after{
    background-color:#c09854;
    text-shadow:0 -1px 0 #6c5328
}
.hint--warning.hint--top:before{
    border-top-color:#c09854
}
.hint--warning.hint--bottom:before{
    border-bottom-color:#c09854
}
.hint--warning.hint--left:before{
    border-left-color:#c09854
}
.hint--warning.hint--right:before{
    border-right-color:#c09854
}
.hint--info:after{
    background-color:#3986ac;
    text-shadow:0 -1px 0 #193b4d
}
.hint--info.hint--top:before{
    border-top-color:#3986ac
}
.hint--info.hint--bottom:before{
    border-bottom-color:#3986ac
}
.hint--info.hint--left:before{
    border-left-color:#3986ac
}
.hint--info.hint--right:before{
    border-right-color:#3986ac
}
.hint--success:after{
    background-color:#458746;
    text-shadow:0 -1px 0 #1a321a
}
.hint--success.hint--top:before{
    border-top-color:#458746
}
.hint--success.hint--bottom:before{
    border-bottom-color:#458746
}
.hint--success.hint--left:before{
    border-left-color:#458746
}
.hint--success.hint--right:before{
    border-right-color:#458746
}
.hint--always:after,.hint--always:before{
    opacity:1;
    visibility:visible
}
.hint--always.hint--top:after,.hint--always.hint--top:before{
    -webkit-transform:translateY(-8px);
    -moz-transform:translateY(-8px);
    transform:translateY(-8px)
}
.hint--always.hint--bottom:after,.hint--always.hint--bottom:before{
    -webkit-transform:translateY(8px);
    -moz-transform:translateY(8px);
    transform:translateY(8px)
}
.hint--always.hint--left:after,.hint--always.hint--left:before{
    -webkit-transform:translateX(-8px);
    -moz-transform:translateX(-8px);
    transform:translateX(-8px)
}
.hint--always.hint--right:after,.hint--always.hint--right:before{
    -webkit-transform:translateX(8px);
    -moz-transform:translateX(8px);
    transform:translateX(8px)
}
.hint--rounded:after{
    border-radius:4px
}
.hint--no-animate:after,.hint--no-animate:before{
    -webkit-transition-duration:0ms;
    -moz-transition-duration:0ms;
    transition-duration:0ms
}
.hint--bounce:after,.hint--bounce:before{
    -webkit-transition:opacity .3s ease,visibility .3s ease,-webkit-transform .3s cubic-bezier(0.71,1.7,.77,1.24);
    -moz-transition:opacity .3s ease,visibility .3s ease,-moz-transform .3s cubic-bezier(0.71,1.7,.77,1.24);
    transition:opacity .3s ease,visibility .3s ease,transform .3s cubic-bezier(0.71,1.7,.77,1.24)
}
.lightbox{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    display:none;
    z-index:1006;
    text-align:center;
    text-transform:uppercase;
    background:rgba(255,255,255,.6)
}
.lightbox .mod{
    border:1px solid #999;
    border-radius:5px;
    background:#fff;
    color:#333;
    font-size:12px;
    max-width:890px;
    padding:0;
    position:relative;
    margin:-100px auto 0;
    opacity:0;
    box-shadow:0 2px 5px #666
}
.lightbox .mod .bd{
    min-height:160px
}
.lightbox .mod>.loading{
    display:block;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(255,255,255,.9);
    z-index:1007
}
.lightbox .mod>.loading svg{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-14px;
    margin-top:-14px
}
.lightbox .mod>.loading svg path,.lightbox .mod>.loading svg rect{
    fill:#11dab1
}
.lightbox .mod>.loading.hide{
    display:none
}
.lightbox .mod.slide{
    margin:20px auto;
    opacity:1
}
.inlinebox .close,.lightbox .close{
    border:0;
    background-color:transparent;
    background-image:url(/checkout/images/sprite-global_v70.png);
    background-position:-16px -272px;
    background-repeat:no-repeat;
    cursor:pointer;
    position:absolute;
    width:19px;
    height:19px;
    right:12px;
    top:12px;
    text-transform:uppercase;
    margin-bottom:5px
}
.lightbox .hd{
    padding:12px 25px;
    border-bottom:1px solid #d6d6d6;
    font-size:25px
}
.lightbox .bd{
    padding:12px 25px
}
@media screen and (max-width:900px){
    .lightbox{
        position:absolute
    }
    .lightbox .mod{
        margin:0;
        border:0;
        border-radius:0;
        left:-1000px;
        width:100%;
        opacity:1;
        position:fixed;
        height:100%;
        overflow:scroll
    }
    .lightbox .mod.slide{
        margin:0;
        left:0
    }
}
.inlinebox{
    position:relative;
    display:none;
    width:auto;
    height:auto;
    z-index:1
}
.inlinebox .mod{
    border:1px solid #999;
    border-radius:5px;
    background:#fff;
    color:#333;
    font-size:12px;
    max-width:890px;
    min-height:160px;
    padding:0;
    position:relative;
    margin:0;
    top:-30px;
    opacity:0
}
.mobile .inlinebox .mod{
    transition:none
}
.inlinebox .mod.slide{
    top:0;
    opacity:1
}
@media screen and (max-width:890px){
    .inlinebox{
        margin:0
    }
}
.header{
    max-width:980px;
    margin:0 auto;
    font-size:12px;
    font-weight:400;
    border-bottom:2px solid #D6D6D6;
    text-transform:uppercase
}
.header .mini-signin-status{
    display:none;
    padding:5px 10px;
    text-align:center;
    text-transform:none
}
.header .mini-signin-status .link-btn,.header .mini-signin-status a{
    color:#526cd0
}
.header .mini-signin-status .link-btn{
    font-family:arial,sans-serif;
    text-transform:none
}
.header .top{
    border-bottom:1px solid #D6D6D6;
    padding-top:3px;
    padding-bottom:3px;
    text-transform:uppercase
}
.header .top .promise-msg{
    padding-left:20px
}
.header .top .signin-status{
    float:right;
    height:15px
}
.header .top .signin-status:hover{
    text-decoration:underline
}
.header .top .signin-status .link-btn{
    font-size:12px
}
.header .bottom{
    position:relative;
    padding-top:10px
}
.header .bottom>*{
    display:inline-block;
    vertical-align:top
}
.header .bottom a.logo{
    width:40%
}
.header .bottom .help{
    position:absolute;
    right:2px;
    text-transform:uppercase;
    padding:7px;
    float:right
}
.header .bottom .help .text{
    text-align:right
}
.header .bottom .help .icon-phone{
    display:inline-block
}
.header .bottom .checkout-steps{
    width:40%
}
.header .bottom .checkout-steps li{
    display:inline-block;
    list-style:none;
    text-align:center
}
.header .bottom .checkout-steps li.step .ico{
    height:24px;
    width:24px;
    display:inline-block;
    background-image:url(/checkout/images/sprite-global_v70.png);
    background-repeat:no-repeat
}
.header .bottom .checkout-steps li.step1 .ico,.header .bottom .checkout-steps li.step1.active{
    background-position:-329px -219px
}
.header .bottom .checkout-steps li.step2 .ico{
    background-position:-358px -219px
}
.header .bottom .checkout-steps li.step2.active{
    background-position:-329px -248px
}
.header .bottom .checkout-steps li.step3 .ico{
    background-position:-387px -219px
}
.header .bottom .checkout-steps li.step3.active{
    background-position:-329px -277px
}
@media screen and (max-width :380px){
    .header .top{
        display:none
    }
    .header .bottom a.logo{
        width:100%
    }
    .header .bottom a.logo img{
        min-width:125px;
        display:block;
        margin:auto;
        width:40%
    }
    .header .bottom .help{
        display:none
    }
}
.cart-section>.loading,.wishlist-section>.loading{
    display:block;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:.8;
    background:#fff;
    z-index:1007
}
.cart-section>.loading p,.wishlist-section>.loading p{
    margin:150px auto auto;
    width:100px;
    color:#000;
    font-size:16px
}
.cart-section>.loading.hide,.wishlist-section>.loading.hide{
    display:none
}
@media screen and (max-width:980px){
    .container,.container .cart-page .prod-set,.container .cart-section .bagContainer .add-coupon,.container .cart-section .bagContainer .order-total,.container .cart-section .bagContainer .order-total-summary,.container .wishlist-page .prod-set,.grid,.grid .cart-page .prod-set,.grid .cart-section .bagContainer .add-coupon,.grid .cart-section .bagContainer .order-total,.grid .cart-section .bagContainer .order-total-summary,.grid .wishlist-page .prod-set{
        width:100%
    }
    .grid{
        padding:10px 0
    }
}
@media screen and (max-width:768px){
    .header .mini-signin-status{
        display:block
    }
    .header .bottom .checkout-steps,.header .top .icon-lock,.header .top .promise-msg{
        display:none
    }
    .header .top .signin-status{
        float:right
    }
}
html body .mcontainer{
    -webkit-overflow-scrolling:touch
}
.clock{
    text-align:center;
    background:#fff;
    padding:10px 0;
    border-bottom:1px solid #eaeaec;
    display:none
}
.clock>.leftImg{
    margin-right:5px;
    vertical-align:top;
    display:inline-block
}
.show-clock-timer{
    display:block
}
.clockdiv{
    color:#282c3f;
    display:inline-block;
    font-weight:100;
    text-align:center;
    font-size:10px;
    vertical-align:top;
    width:100%
}
.clockdiv .dd{
    display:none!important
}
.clockdiv .show-day-timer{
    display:inline-block!important
}
.clockdiv>div{
    display:inline
}
.clockdiv>.text{
    font-size:12px;
    text-align:left;
    margin-right:10px;
    color:#696b79;
    display:inline;
    text-transform:uppercase
}
.clockdiv div>span{
    display:inline;
    color:#ff517b;
    font-size:18px;
    min-width:25px;
    text-align:center
}
.big{
    display:inline-block!important;
    margin:10px 0 10px 30px!important;
    min-width:205px!important;
    overflow:visible!important;
    text-align:left!important;
    width:auto
}
.big>.text{
    display:block!important;
    text-transform:uppercase;
    color:#696b79
}
.big>div{
    display:inline-block!important
}
.big div>span{
    font-size:20px
}
.smalltext{
    padding-top:5px;
    display:inline-block;
    font-size:1.4em;
    color:#696b79;
    text-transform:none
}
.dsk-time{
    display:inline-block!important;
    text-transform:uppercase;
    color:#696b79
}
.smoothen{
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch
}
.green-button-loader{
    background-repeat:repeat;
    background-size:40px 40px,100% 100%;
    background-image:-webkit-linear-gradient(-45deg,rgba(255,255,255,.6) 25%,rgba(255,255,255,.3) 25%,rgba(255,255,255,.3) 50%,rgba(255,255,255,.6) 50%,rgba(255,255,255,.6) 75%,rgba(255,255,255,.3) 75%,rgba(255,255,255,.3));
    background-image:-moz-linear-gradient(-45deg,rgba(255,255,255,.6) 25%,rgba(255,255,255,.3) 25%,rgba(255,255,255,.3) 50%,rgba(255,255,255,.6) 50%,rgba(255,255,255,.6) 75%,rgba(255,255,255,.3) 75%,rgba(255,255,255,.3));
    background-image:-ms-linear-gradient(-45deg,rgba(255,255,255,.6) 25%,rgba(255,255,255,.3) 25%,rgba(255,255,255,.3) 50%,rgba(255,255,255,.6) 50%,rgba(255,255,255,.6) 75%,rgba(255,255,255,.3) 75%,rgba(255,255,255,.3));
    background-image:-o-linear-gradient(-45deg,rgba(255,255,255,.6) 25%,rgba(255,255,255,.3) 25%,rgba(255,255,255,.3) 50%,rgba(255,255,255,.6) 50%,rgba(255,255,255,.6) 75%,rgba(255,255,255,.3) 75%,rgba(255,255,255,.3));
    background-image:linear-gradient(-45deg,rgba(255,255,255,.6) 25%,rgba(255,255,255,.3) 25%,rgba(255,255,255,.3) 50%,rgba(255,255,255,.6) 50%,rgba(255,255,255,.6) 75%,rgba(255,255,255,.3) 75%,rgba(255,255,255,.3));
    -webkit-animation:loading .5s linear infinite;
    -moz-animation:loading .5s linear infinite;
    -o-animation:loading .5s linear infinite;
    animation:loading .5s linear infinite
}
.clearfix:after{
    content:'';
    display:block;
    visibility:hidden;
    height:0;
    clear:both
}
.page-footer{
    padding:0;
    border-top:1px solid #d6d6d6
}
.page-footer .help-info{
    padding:10px 0;
    text-align:left;
    font-size:14px
}
.page-footer .help-info .lbl{
    float:right;
    margin-top:10px
}
.page-footer .help-info .phone-number-email{
    float:right;
    clear:right
}
.page-footer .help-info .phone-number{
    color:#333
}
.page-footer .help-info .email{
    color:#526CD0;
    text-transform:none
}
.page-footer .copyright{
    border-top:1px solid #d6d6d6;
    padding:10px 0 20px
}
.page-footer .mini{
    display:none;
    background:#e5e5e5;
    padding:15px 0
}
.page-footer .mini div.copy{
    margin:15px 0;
    font-size:120%
}
.page-footer .mini a{
    color:#526CD0
}
.page-footer .mini .sep{
    margin:5px;
    color:gray
}
@media screen and (max-width:768px){
    .page-footer .copyright,.page-footer .help-info{
        display:none
    }
    .page-footer .mini{
        display:block
    }
}
@media screen and (max-width :380px){
    .page-footer{
        font-size:10px
    }
    .page-footer .signin-status{
        font-size:12px;
        padding:8px;
        display:block;
        border-bottom:1px solid #d6d6d6
    }
}
*{
    -webkit-tap-highlight-color:transparent;
    outline:0
}
body,html{
    font-family:Whitney,Helvetica;
    text-transform:none;
    color:#333
}
.new-cart .header,.new-cart .page-footer{
    display:none
}
.new-cart .mcontainer .slider.addOrEditAddress .white-row input,.new-cart .mcontainer .slider.addOrEditAddress .white-row select,.new-cart .mcontainer .slider.addOrEditAddress .white-row textarea,.new-cart input[type=email],.new-cart input[type=password],.new-cart input[type=text],.new-cart select,.new-cart textarea{
    padding:8px 8px 6px;
    box-shadow:none;
    border:none;
    border-radius:0;
    background:-moz-linear-gradient(#44494b,#44494b) bottom left/1px 6px no-repeat,-moz-linear-gradient(#44494b,#44494b) bottom center/1px 1px repeat-x,-moz-linear-gradient(#44494b,#44494b) bottom right/1px 6px no-repeat;
    background:-o-linear-gradient(#44494b,#44494b) bottom left/1px 6px no-repeat,-o-linear-gradient(#44494b,#44494b) bottom center/1px 1px repeat-x,-o-linear-gradient(#44494b,#44494b) bottom right/1px 6px no-repeat;
    background:-webkit-linear-gradient(#44494b,#44494b) bottom left/1px 6px no-repeat,-webkit-linear-gradient(#44494b,#44494b) bottom center/1px 1px repeat-x,-webkit-linear-gradient(#44494b,#44494b) bottom right/1px 6px no-repeat;
    background:linear-gradient(#44494b,#44494b) bottom left/1px 6px no-repeat,linear-gradient(#44494b,#44494b) bottom center/1px 1px repeat-x,linear-gradient(#44494b,#44494b) bottom right/1px 6px no-repeat
}
.new-cart .mcontainer .slider.addOrEditAddress .white-row input:focus,.new-cart .mcontainer .slider.addOrEditAddress .white-row select:focus,.new-cart .mcontainer .slider.addOrEditAddress .white-row textarea:focus,.new-cart input[type=email],.new-cart input[type=password]:focus,.new-cart input[type=text]:focus,.new-cart select:focus,.new-cart textarea:focus{
    background:-moz-linear-gradient(#3e94e0,#3e94e0) bottom left/1px 6px no-repeat,-moz-linear-gradient(#3e94e0,#3e94e0) bottom center/1px 1px repeat-x,-moz-linear-gradient(#3e94e0,#3e94e0) bottom right/1px 6px no-repeat;
    background:-o-linear-gradient(#3e94e0,#3e94e0) bottom left/1px 6px no-repeat,-o-linear-gradient(#3e94e0,#3e94e0) bottom center/1px 1px repeat-x,-o-linear-gradient(#3e94e0,#3e94e0) bottom right/1px 6px no-repeat;
    background:-webkit-linear-gradient(#3e94e0,#3e94e0) bottom left/1px 6px no-repeat,-webkit-linear-gradient(#3e94e0,#3e94e0) bottom center/1px 1px repeat-x,-webkit-linear-gradient(#3e94e0,#3e94e0) bottom right/1px 6px no-repeat;
    background:linear-gradient(#3e94e0,#3e94e0) bottom left/1px 6px no-repeat,linear-gradient(#3e94e0,#3e94e0) bottom center/1px 1px repeat-x,linear-gradient(#3e94e0,#3e94e0) bottom right/1px 6px no-repeat;
    box-shadow:none;
    border:none;
    border-radius:0
}
.new-cart .normal-btn,.new-cart .primary-btn{
    height:48px
}
.new-cart .primary-btn,.new-cart .primary-btn[disabled]{
    color:#fff;
    background:#4a90e2
}
.new-cart .primary-btn.disabled-btn,.new-cart .primary-btn[disabled].disabled-btn{
    color:#fff
}
.new-cart .primary-btn.disabled-btn:hover,.new-cart .primary-btn:hover,.new-cart .primary-btn[disabled].disabled-btn:hover,.new-cart .primary-btn[disabled]:hover{
    background:#4a90e2
}
.new-cart .normal-btn,.new-cart .normal-btn:hover{
    background:#b3b3b3
}
